.container{
    display: flex;
    align-items: center;
    padding: 1rem 5rem;
    
    

    .item{
        flex: 1 1 auto;
        
    }

    .form{
        width: 100%;
       
    }
    .form__element{
        padding: 5px 0px 25px 2px;
        width: 100%;
        margin-bottom: .5rem;
        
      
    }




}




.container__button{


    margin: 0 auto;
    display: block;
    width: 20%;
    margin-top: 4rem;
    

    button{
        width: 100%;
        margin:2px;
    }
        
        
    }
   
.container__table{
    width: 90%;
    margin: 0 4%;



    table{
        font-size: 1.2rem;
        th{

            background-color: #3f51b5;
            color:#ffff;
            padding: 1rem;
            text-align: left;
        }
        td{
            background-color: #eee;
            padding: 1rem;
        }
    }


    .container__total{
        margin-top: 1rem;
        .total{
            color: #000;
            font-size: 1.5rem;
        }
    }
}







